body{
    font-family: Helvetica, sans-serif, Arial;
    font-size: 14px;
    text-align: center;
    background-color: rgb(190, 187, 187);
}
#image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
#img-caption{
    font-weight: bold;
}
#tribute-info{
    line-height: 20px;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    white-space: nowrap;
}